.undrlin:hover {
    text-decoration: underline rgb(220, 53, 69);
    cursor: pointer;
}

.undrlnLink {
    text-decoration: none;
}

.undrlnLink:hover {
    text-decoration: underline rgb(220, 53, 69);
    color: rgb(220, 53, 69);
}